html, body {
    height: 100%;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}
h1 {
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
}
